.page-footer {
  clear: both;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: #A788B5; /*var(--headerfooter-color)*/;
  width: 100%;
  border-top: 3px solid violet; /*var(--headerfooter-border-color)*/;
}
